.chunk {
	font-family: 'PT Serif', serif;
	white-space: pre-wrap;
}

.chunk.listening-1 {
	position: relative;
    padding-right: 2px;
}

.chunk.listening-1:after {
	content: "";
    position: absolute;
    display: inline-block;
    height: 19px;
    border-right: 2px solid;
    bottom: 0px;
    border-radius: 1px;
    color: #9C27B0;
}

.chunk.listening-1:before {
    position: absolute;
    border: 2px solid;
    bottom: 17px;
    right: -1px;
    border-radius: 1px;
    color: #9C27B0;
}